<nav>
{% block content %}
    <a href="{{path_for('home')}}">Home</a>
    {% if isConnected() %}
        {% if currentRoute() != 'profile' %}
            <a href="{{path_for('profile')}}">Profile</a>
        {% endif %}
        <a href="{{path_for('logout')}}">Logout</a>
    {% else %}
        {% if currentRoute() != 'login' %}
            <a href="{{path_for('login')}}"> Login </a>
        {% endif %}
    {% endif %}
{% endblock %}
</nav>
